.layout-main {
  padding-top: 60px;
  position: relative;
}
.Scrol_Button {
  cursor: pointer;
  position: fixed;
  top: 80vh;
  right: 0;
  background-color: #0b0c22;
  color: aliceblue;
  padding: 5px 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.sidebar_show {
  position: f;
  display: block;
  height: calc(100vh - 24px);
  width: 250px;
  padding-top: 70px;
  /* border-right: 1px solid rgb(78, 78, 78); */
  background-color: #0b0c22;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar_hide {
  display: none;
  border-right: 0px solid rgb(157, 157, 157);
  width: 0px;
}

.content_show {
  width: calc(100% - 250px);
  height: calc(100vh - 24px);
  overflow-y: auto;
  overflow-x: hidden;
}

.content_Hide {
  width: 100%;
  min-height: calc(100% - px);
  overflow-y: auto;
  overflow-x: auto;
}
