.layout-main {
    padding-top: 60px;
}

.sidebar_show {
    display: block;
    height: calc(100vh - 24px);
    width: 250px;
    border-right: 1px solid lightgrey;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar_hide {
    display: none;
    border-right: 0px solid lightgrey;
    width: 0px;
}

.content_show {
    margin-top: 49.3px;
    width: calc(100% - 250px);
    min-height: calc(100vh - 73.3px);
    overflow-y: auto;
    overflow-x: auto;
}

.content_Hide {
    width: 100%;
    margin-top: 49.3px;
    min-height: calc(100vh - 73.3px);
    overflow-y: auto;
    overflow-x: auto;
}